$lightblue-000: #d3eaf7; // equivalente ao pink-000
$lightblue-100: #bce0f3; // equivalente ao pink-100
$lightblue-200: #a5d5ef; // equivalente ao pink-200
$lightblue-300: #8ccae9; // equivalente ao pink-300